<a href="https://colab.research.google.com/github/OmriMan/Bagging/blob/main/Assignment2_Stroke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Packages

In [91]:
import numpy as np  # linear algebra
import pandas as pd  # data processing

from sklearn.tree import DecisionTreeClassifier  # model

from matplotlib import pyplot as plt  # visualization
from sklearn.tree import plot_tree  # visualize tree

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

#Dataset Stroke Prediction#
source: https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

Classify / predict whether a patient can suffer a stroke.

Dataset Attributes :

id : unique identifier

gender : "Male", "Female" or "Other"

age : age of the patient

hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension

heart_disease : 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease

ever_married : "No" or "Yes"

work_type : "children", "Govt_job", "Never_worked", "Private" or "Self-employed"

Residence_type : "Rural" or "Urban"

avg_glucose_level : average glucose level in blood

bmi : body mass index

smoking_status : "formerly smoked", "never smoked", "smokes" or "Unknown"*

stroke : 1 if the patient had a stroke or 0 if not

The data contains 5110 observations with 12 attributes.

source: https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

In [92]:
def preprocess(df):
    # Gender
    change = { 'Other': 2,'Female':1,'Male':0}
    df.gender = df.gender.map(change)

    # BMI
    df['bmi'] = df['bmi'].replace(to_replace = np.nan, value =df['bmi'].mean())

    # ever_married
    change = {'No':0,'Yes':1}
    df.ever_married = df.ever_married.map(change)

    # Residence_type	
    change = {"Rural":1,"Urban":2}
    df.Residence_type	 = df.Residence_type.map(change)

    #work_type
    change = {"children":0, "Govt_job":1, "Never_worked":2, "Private":3 , "Self-employed":4}
    df.work_type = df.work_type.map(change)

    #smoking_status
    change = {"never smoked":0, "formerly smoked":1, "smokes":2, "Unknown":3}
    df.smoking_status	 = df.smoking_status.map(change)

    df = df.drop(columns=['id'])
    return df

Load the data set

In [93]:
df = pd.read_csv('/content/sample_data/stroke.csv')
df = preprocess(df)
features = ['gender',	'age',	'hypertension',	'heart_disease',	'ever_married',	'work_type',	'Residence_type',	'avg_glucose_level',	'bmi',	'smoking_status']
X = df.loc[:, features]
y = df.loc[:, ['stroke']]

Split the data into training and testin sets

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .75)

In [95]:
X_test

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
42,0,82.00,0,1,1,3,2,144.90,26.4,2
380,0,4.00,0,0,0,0,1,106.22,16.7,3
3524,0,58.00,0,0,1,3,2,79.95,25.9,0
352,1,20.00,0,0,0,3,1,96.57,34.1,0
4927,1,10.00,0,0,0,0,1,69.84,13.7,3
...,...,...,...,...,...,...,...,...,...,...
4866,1,37.00,0,0,1,3,2,103.66,36.1,2
1657,0,59.00,0,0,1,3,1,64.51,31.5,0
982,0,0.88,0,0,0,0,1,157.57,19.2,3
3679,0,44.00,0,0,1,3,1,105.49,31.5,2
4803,1,43.00,0,0,1,3,1,110.32,28.4,0

In [96]:
# df = pd.read_csv('/content/sample_data/stroke.csv')
# df = preprocess(df)
# # df.isna().sum()
# df
X_test.isna().sum
X_train

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
2954,1,18.0,0,0,0,3,2,70.54,23.5,3
1933,1,70.0,0,0,1,3,2,91.25,36.0,3
4311,1,65.0,0,0,1,3,1,205.78,41.7,0
2365,1,36.0,0,0,0,3,2,216.96,34.5,3
927,0,64.0,0,0,1,3,2,86.05,23.0,3
...,...,...,...,...,...,...,...,...,...,...
4931,1,53.0,1,0,1,1,1,98.61,38.8,2
3264,1,61.0,0,0,1,3,1,72.01,26.0,1
1653,0,44.0,0,0,1,3,1,94.71,28.4,2
2607,0,21.0,0,0,0,3,2,120.94,29.7,1
2732,1,58.0,1,0,1,1,1,59.52,33.2,0

#Target class distribution#

In [97]:
target = df['stroke']
target.value_counts()

0    4861
1     249
Name: stroke, dtype: int64

#Define and train the models #

Decision Tree Classifier

In [98]:
# defining our tree object with the hyper parameters discussed above
model = DecisionTreeClassifier(max_depth= 5)



model.fit(
    X_train,
    y_train
    # X=df.drop(columns=['stroke']), 
    # y=df['stroke']
)

DecisionTreeClassifier(max_depth=5)

In [99]:
# plt.figure(figsize=(20, 20))
# plot_tree(
#     model,
#     class_names=['No stroke', 'stroke'],
#     impurity=False,
#     filled=True,
#     fontsize=18
# )
# plt.show()

In [100]:
df_test = pd.read_csv('/content/sample_data/stroke.csv')
df_test = preprocess(df_test)
df_test=df_test.drop(columns=['stroke'])

#Evaluate#
Accuracy = Correct Predictions / Total Predictions

In [101]:
inputs = pd.DataFrame(X_test)
prediction_DecisionTreeClassifier = model.predict(
    inputs
)
accuracy_DecisionTreeClassifier = accuracy_score(y_test,prediction_DecisionTreeClassifier)
print(f"Accuracy score of DecisionTreeClassifier = {accuracy_DecisionTreeClassifier}")

Accuracy score of DecisionTreeClassifier = 0.9444444444444444

Random Forest Classifier

In [102]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
model_rf.fit(
    X_train,
    y_train
    # X=df.drop(columns=['stroke']), 
    # y=df['stroke']
)
print("%.4f" % model_rf.oob_score_)

<ipython-input-102-2b92af672948>:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf.fit(

0.9515

In [103]:
inputs = pd.DataFrame(X_test)
prediction_RandomForestClassifier = model_rf.predict(
    inputs
)
accuracy_RandomForestClassifier = accuracy_score(y_test,prediction_RandomForestClassifier)
print(f"Accuracy score of RandomForestClassifier = {accuracy_RandomForestClassifier}")

Accuracy score of RandomForestClassifier = 0.9491392801251957

Extremely Randomized Trees

In [104]:
from sklearn.ensemble import ExtraTreesClassifier

model_ExtraTreesClassifier = ExtraTreesClassifier()
model_ExtraTreesClassifier.fit(
    X_train,
    y_train
    # X=df.drop(columns=['stroke']), 
    # y=df['stroke']
)

<ipython-input-104-187dddd66f73>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_ExtraTreesClassifier.fit(

ExtraTreesClassifier()

In [105]:
inputs = pd.DataFrame(X_test)
prediction_ExtraTreesClassifier = model_ExtraTreesClassifier.predict(
    inputs
)
accuracy_ExtraTreesClassifier = accuracy_score(y_test,prediction_ExtraTreesClassifier)
print(f"Accuracy score of ExtraTreesClassifier = {accuracy_ExtraTreesClassifier}")

Accuracy score of ExtraTreesClassifier = 0.9420970266040689

*Summary - accuracy score*

In [106]:
from tabulate import tabulate
print(tabulate([[accuracy_DecisionTreeClassifier,accuracy_RandomForestClassifier,accuracy_ExtraTreesClassifier]], headers=["DecisionTreeClassifier","RandomForestClassifier","ExtraTreesClassifier"], tablefmt="grid"))

+--------------------------+--------------------------+------------------------+
|   DecisionTreeClassifier |   RandomForestClassifier |   ExtraTreesClassifier |
+==========================+==========================+========================+
|                 0.944444 |                 0.949139 |               0.942097 |
+--------------------------+--------------------------+------------------------+