<a href="https://colab.research.google.com/github/OmriMan/Bagging/blob/main/Assignment2_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/code/chazzer/ml-grandmaster-decision-tree-classifier

Packages

In [21]:
import numpy as np  # linear algebra
import pandas as pd  # data processing

from sklearn.tree import DecisionTreeClassifier  # model

from matplotlib import pyplot as plt  # visualization
from sklearn.tree import plot_tree  # visualize tree

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

#Dataset -Titanic#
Source: https://www.kaggle.com/competitions/titanic/data

survival:	Survival, 0 = No, 1 = Yes

pclass:	Ticket class, 1 = 1st, 2 = 2nd, 3 = 3rd

sex: Sex. Female = 1,Male = 0	

Age: Age in years.Missing values ​​were replaced by the mean ages in the data set

sibsp: numer of siblings / spouses aboard the Titanic	

parch: number of parents / children aboard the Titanic	

ticket: Ticket number.We did not use this feature

fare: Passenger fare.Missing values ​​were replaced by the mean fare values in the data set

cabin: Cabin number.We did not use this feature

embarked: Port of Embarkation	C=Cherbourg,Q=Queenstown,S=Southampton.We replaced the values ​​as follows: S=0,C=1,Q=2

In [22]:
def preprocess(df):
    # Putting on index to each dataset before split it
    df = df.set_index("PassengerId")
    # Sex
    change = {'female':1,'male':0}
    df.Sex = df.Sex.map(change)

    # Embarked
    change = {'S':0,'C':1,'Q':2}
    df.Embarked = df.Embarked.map(change)
    df['Embarked'] = df['Embarked'].replace(to_replace = np.nan, value =1)

    # df['Age'] = df['Age'].groupby(df['Age'].isnull()).mean()
    df['Age'] = df['Age'].replace(to_replace = np.nan, value =df['Age'].mean())
    # df['Age'] = df['Age'].replace(to_replace = np.nan, value =50)
    df['Fare'] = df['Fare'].replace(to_replace = np.nan, value =df['Fare'].mean())
    df = df.drop(columns=['Name','Ticket','Cabin'])
    return df

Load the data set

In [23]:
df = pd.read_csv('/content/sample_data/titanic.csv')
# df
df.isna().sum()

PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [24]:
df = pd.read_csv('/content/sample_data/titanic.csv')
df = preprocess(df)
features = ['Pclass',	'Sex',	'Age',	'SibSp',	'Parch',	'Fare',	'Embarked']
X = df.loc[:, features]
y = df.loc[:, ['Survived']]

Split the data into training and testin sets

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .75)

In [26]:
X_test

             Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
PassengerId
1140              2    1  29.000000      1      0   26.0000       0.0
534               3    1  29.881138      0      2   22.3583       1.0
460               3    0  29.881138      0      0    7.7500       2.0
1151              3    0  21.000000      0      0    7.7750       0.0
394               1    1  23.000000      1      0  113.2750       1.0
...             ...  ...        ...    ...    ...       ...       ...
365               3    0  29.881138      1      0   15.5000       2.0
495               3    0  21.000000      0      0    8.0500       0.0
709               1    1  22.000000      0      0  151.5500       0.0
647               3    0  19.000000      0      0    7.8958       0.0
1279              2    0  57.000000      0      0   13.0000       0.0

[328 rows x 7 columns]

In [27]:
X_test.isna().sum
X_train

             Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
PassengerId
748               2    1  30.000000      0      0   13.0000       0.0
566               3    0  24.000000      2      0   24.1500       0.0
83                3    1  29.881138      0      0    7.7875       2.0
568               3    1  29.000000      0      4   21.0750       0.0
864               3    1  29.881138      8      2   69.5500       0.0
...             ...  ...        ...    ...    ...       ...       ...
764               1    1  36.000000      1      2  120.0000       0.0
836               1    1  39.000000      1      1   83.1583       1.0
1217              3    0  23.000000      0      0    7.0500       0.0
560               3    1  36.000000      1      0   17.4000       0.0
685               2    0  60.000000      1      1   39.0000       0.0

[981 rows x 7 columns]

#Target class distribution#

In [28]:
target = df['Survived']
target.value_counts()

0    815
1    494
Name: Survived, dtype: int64

In [29]:
# df = pd.read_csv('/content/sample_data/train.csv')
# df
# df = preprocess(df)

In [30]:
# df.isna().sum()

#Define and train the models #

DecisionTreeClassifier

In [31]:
# defining our tree object with the hyper parameters discussed above
model = DecisionTreeClassifier()
# model = DecisionTreeClassifier(
#     splitter='best',
#     min_samples_split=3,
#     max_depth= 5,
# )


model.fit(
    X_train,
    y_train
    # X=df.drop(columns=['Survived']), 
    # y=df['Survived']
)

DecisionTreeClassifier()

In [32]:
# plt.figure(figsize=(10, 10))
# plot_tree(
#     model,
#     feature_names=['Pclass',	'Sex',	'Age',	'SibSp',	'Parch',	'Fare',	'Embarked'],  
#     class_names=['Not Survived', 'Survived'],
#     impurity=False,
#     filled=True,
#     fontsize=18
# )
# plt.show()

In [33]:
# # 892
# #893
# inputs = pd.DataFrame([{'Pclass':3,	'Sex':0,	'Age':34.5,	'SibSp':0,	'Parch':0,	'Fare':7.8292,'Embarked':2},{'Pclass':3,	'Sex':1,	'Age':47,	'SibSp':1,	'Parch':0,	'Fare':7,'Embarked':0}])
# prediction = model.predict(
#     inputs
# )
# print(f"892, Survived: {bool(prediction[0])}")
# print(f"893, Survived: {bool(prediction[1])}")

In [34]:
# df_test = pd.read_csv('/content/sample_data/test.csv')
# df_test = preprocess(df_test)

In [35]:
target = df['Survived']
target.value_counts()

# plt.figure(figsize=(12, 8))
# plt.bar(target,max(target))
# plt.xlabel("Survived")
# plt.show()

0    815
1    494
Name: Survived, dtype: int64

#Evaluate#
Accuracy = Correct Predictions / Total Predictions

In [36]:
inputs = pd.DataFrame(X_test)
prediction_DecisionTreeClassifier = model.predict(
    inputs
)
accuracy_DecisionTreeClassifier = accuracy_score(y_test,prediction_DecisionTreeClassifier)
print(f"Accuracy score of DecisionTreeClassifier = {accuracy_DecisionTreeClassifier}")

Accuracy score of DecisionTreeClassifier = 0.8475609756097561

https://www.kaggle.com/code/zlatankr/titanic-random-forest-82-78

In [37]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
# model_rf = RandomForestClassifier(criterion='gini', 
#                              n_estimators=700,
#                              min_samples_split=10,
#                              min_samples_leaf=1,
#                              max_features='auto',
#                              oob_score=True,
#                              random_state=1,
#                              n_jobs=-1)

model_rf.fit(
    X_train,
    y_train
    # X=df.drop(columns=['Survived']), 
    # y=df['Survived']
)
# print("%.4f" % model_rf.oob_score_)

<ipython-input-37-ca963a3dd5f2>:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf.fit(

RandomForestClassifier()

In [38]:
inputs = pd.DataFrame(X_test)
prediction_RandomForestClassifier = model_rf.predict(
    inputs
)
accuracy_RandomForestClassifier = accuracy_score(y_test,prediction_RandomForestClassifier)
print(f"Accuracy score of RandomForestClassifier = {accuracy_RandomForestClassifier}")

Accuracy score of RandomForestClassifier = 0.8597560975609756

Extremely Randomized Trees

In [39]:
from sklearn.ensemble import ExtraTreesClassifier

model_ExtraTreesClassifier = ExtraTreesClassifier()
# rf.fit(df.iloc[:, 1:], df.iloc[:, 0])
model_ExtraTreesClassifier.fit(
    X_train,
    y_train
    # X=df.drop(columns=['Survived']), 
    # y=df['Survived']
)

<ipython-input-39-c59b68746e4a>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_ExtraTreesClassifier.fit(

ExtraTreesClassifier()

In [40]:
inputs = pd.DataFrame(X_test)
prediction_ExtraTreesClassifier = model_ExtraTreesClassifier.predict(
    inputs
)
accuracy_ExtraTreesClassifier = accuracy_score(y_test,prediction_ExtraTreesClassifier)
print(f"Accuracy score of ExtraTreesClassifier = {accuracy_ExtraTreesClassifier}")

Accuracy score of ExtraTreesClassifier = 0.8323170731707317

*Summary - Titanic dataset accuracy score*

In [41]:
from tabulate import tabulate
print(tabulate([["Accuracy",accuracy_DecisionTreeClassifier,accuracy_RandomForestClassifier,accuracy_ExtraTreesClassifier]], headers=["Model","DecisionTreeClassifier","RandomForestClassifier","ExtraTreesClassifier"], tablefmt="grid"))

+----------+--------------------------+--------------------------+------------------------+
| Model    |   DecisionTreeClassifier |   RandomForestClassifier |   ExtraTreesClassifier |
+==========+==========================+==========================+========================+
| Accuracy |                 0.847561 |                 0.859756 |               0.832317 |
+----------+--------------------------+--------------------------+------------------------+