<a href="https://colab.research.google.com/github/OmriMan/Bagging/blob/main/Assignment2_Loan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Packages

In [123]:
import numpy as np  # linear algebra
import pandas as pd  # data processing

from sklearn.tree import DecisionTreeClassifier  # model

from matplotlib import pyplot as plt  # visualization
from sklearn.tree import plot_tree  # visualize tree

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

#Dataset Loan#
Gender: Female = 1,Male = 0

Married: No=0,Yes = 1

Dependents: 1 , 2, '3+' = 3

Education: Not Graduate=0,Graduate=1

Self_Employed: Missing values ​​were replaced by '1' in the data set

ApplicantIncome: Applicant Income - number

CoapplicantIncome: Coapplicant Income  - number

Loan Amount: number 

Loan_Amount_Term: Loan amount term in days, number  

Credit_History: Applicant credit history, binary

Property_Area: We did not use this feature

Loan_Status: Yes = 1, No=0

In [124]:
def preprocess(df):
    # Putting on index to each dataset before split it
    # df = df.set_index("PassengerId")
    # Gender
    change = {'Female':1,'Male':0}
    df.Gender = df.Gender.map(change)
    df['Gender'] = df['Gender'].replace(to_replace = np.nan, value = 1)

    # Education
    change = {'Not Graduate':0,'Yes':1}
    df.Education = df.Education.map(change)
    df['Education'] = df['Education'].replace(to_replace = np.nan, value =1)

    # 	Dependents
    change = {'0':0,'1':1,'2':2,'3+':3,'+3':3}
    df.Dependents = df.Dependents.map(change)


    # Married
    change = {'No':0,'Yes':1}
    df.Married = df.Married.map(change)
    # df['Married'] = df['Married'].replace(to_replace = np.nan, value =1)

    #Self_Employed
    df.Self_Employed = df.Self_Employed.map(change)
    df['Self_Employed'] = df['Self_Employed'].replace(to_replace = np.nan, value =1)

    #Loan_Status
    change = {'N':0,'Y':1}
    df.Loan_Status = df.Loan_Status.map(change)

    # #ApplicantIncome
    # df['ApplicantIncome'] = df['ApplicantIncome']/1000

    # #CoapplicantIncome
    # df['CoapplicantIncome'] = df['CoapplicantIncome']/1000

    df = df.drop(columns=['Property_Area'])
    return df

Load the data set

In [125]:
df = pd.read_csv('/content/sample_data/Loan.csv')
df = preprocess(df)
features = ['Gender',	'Married',	'Dependents',	'Education',	'Self_Employed',	'ApplicantIncome',	'CoapplicantIncome',	'LoanAmount',	'Loan_Amount_Term',	'Credit_History']
X = df.loc[:, features]
y = df.loc[:, ['Loan_Status']]

Split the data into training and testin sets

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .75)

In [127]:
X_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
744,1.0,1,3,1.0,0.0,51763,0.0,700,300,1
728,0.0,1,2,1.0,0.0,3100,1400.0,113,360,1
907,1.0,1,1,1.0,1.0,9833,1833.0,182,180,1
915,0.0,1,1,0.0,0.0,4554,1229.0,158,360,1
496,0.0,1,0,0.0,0.0,2600,1700.0,107,360,1
...,...,...,...,...,...,...,...,...,...,...
946,0.0,0,1,1.0,0.0,3062,1987.0,111,180,0
113,1.0,0,1,1.0,1.0,7451,0.0,182,360,1
655,0.0,1,3,1.0,0.0,4342,189.0,124,360,1
37,1.0,1,0,1.0,0.0,3667,1459.0,144,360,1
1022,0.0,0,1,0.0,1.0,2769,1542.0,190,360,1

In [128]:
X_test.isna().sum
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
158,0.0,0,0,1.0,0.0,2980,2083.0,120,360,1
40,0.0,0,0,1.0,0.0,3600,0.0,80,360,1
757,1.0,1,0,1.0,0.0,3625,0.0,108,360,1
440,0.0,0,0,1.0,0.0,3660,5064.0,187,360,1
927,1.0,1,0,1.0,0.0,2423,505.0,130,360,1
...,...,...,...,...,...,...,...,...,...,...
1033,1.0,1,0,1.0,1.0,2083,4083.0,160,360,1
763,0.0,0,0,0.0,0.0,4885,0.0,48,360,1
835,1.0,0,1,1.0,0.0,3481,0.0,155,36,1
559,1.0,1,0,1.0,0.0,4180,2306.0,182,360,1
684,0.0,1,0,1.0,0.0,9083,0.0,228,360,1

In [129]:
# df = pd.read_csv('/content/sample_data/Loan.csv')
# df = preprocess(df)
# df

#Target class distribution#

In [130]:
target = df['Loan_Status']
target.value_counts()

1    729
0    324
Name: Loan_Status, dtype: int64

#Define and train the models #

Decision Tree Classifier

In [131]:
# defining our tree object with the hyper parameters discussed above
model = DecisionTreeClassifier(max_depth= 5)



model.fit(
    X_train,
    y_train
    # X=df.drop(columns=['Loan_Status']), 
    # y=df['Loan_Status']
)

DecisionTreeClassifier(max_depth=5)

In [132]:
# plt.figure(figsize=(20, 20))
# plot_tree(
#     model,
#     feature_names=['Gender',	'Married',	'Dependents',	'Education',	'Self_Employed',	'ApplicantIncome',	'CoapplicantIncome',	'LoanAmount',	'Loan_Amount_Term',	'Credit_History'],  
#     class_names=['Not Loan', 'Loan'],
#     impurity=False,
#     filled=True,
#     fontsize=18
# )
# plt.show()

In [133]:
df_test = pd.read_csv('/content/sample_data/Loan.csv')
df_test = preprocess(df_test)
df_test=df_test.drop(columns=['Loan_Status'])

#Evaluate#
Accuracy = Correct Predictions / Total Predictions

In [134]:
inputs = pd.DataFrame(X_test)
prediction_DecisionTreeClassifier = model.predict(
    inputs
)
accuracy_DecisionTreeClassifier = accuracy_score(y_test,prediction_DecisionTreeClassifier)
print(f"Accuracy score of DecisionTreeClassifier = {accuracy_DecisionTreeClassifier}")

Accuracy score of DecisionTreeClassifier = 0.8295454545454546

Random Forest Classifier

In [135]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
model_rf.fit(
    X_train,
    y_train
    # X=df.drop(columns=['Loan_Status']), 
    # y=df['Loan_Status']
)
print("%.4f" % model_rf.oob_score_)

<ipython-input-135-65b5e1cbec39>:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf.fit(

0.8695

In [136]:
inputs = pd.DataFrame(X_test)
prediction_RandomForestClassifier = model_rf.predict(
    inputs
)
accuracy_RandomForestClassifier = accuracy_score(y_test,prediction_RandomForestClassifier)

Extremely Randomized Trees

In [137]:
from sklearn.ensemble import ExtraTreesClassifier

model_ExtraTreesClassifier = ExtraTreesClassifier()
model_ExtraTreesClassifier.fit(
    X_train,
    y_train
    # X=df.drop(columns=['Loan_Status']), 
    # y=df['Loan_Status']
)

<ipython-input-137-3f7dfe844915>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_ExtraTreesClassifier.fit(

ExtraTreesClassifier()

In [138]:
inputs = pd.DataFrame(X_test)
prediction_ExtraTreesClassifier = model_ExtraTreesClassifier.predict(
    inputs
)
accuracy_ExtraTreesClassifier = accuracy_score(y_test,prediction_ExtraTreesClassifier)
print(f"Accuracy score of ExtraTreesClassifier = {accuracy_ExtraTreesClassifier}")

Accuracy score of ExtraTreesClassifier = 0.8787878787878788

*Summary - Loan dataset accuracy score*

In [141]:
from tabulate import tabulate
print(tabulate([["Accuracy",accuracy_DecisionTreeClassifier,accuracy_RandomForestClassifier,accuracy_ExtraTreesClassifier]], headers=["Model","DecisionTreeClassifier","RandomForestClassifier","ExtraTreesClassifier"], tablefmt="grid"))

+----------+--------------------------+--------------------------+------------------------+
| Model    |   DecisionTreeClassifier |   RandomForestClassifier |   ExtraTreesClassifier |
+==========+==========================+==========================+========================+
| Accuracy |                 0.829545 |                 0.859848 |               0.878788 |
+----------+--------------------------+--------------------------+------------------------+